body {
    /* font-family: Arial, sans-serif; */
    background-color: #fcfcf2;
    color: #333;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-family: 'Roboto', sans-serif;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fcfcf2;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

header {
    text-align: center;
    margin-bottom: 20px;
    width: 100%;
}

.banner {
    width: 100%;
    overflow: hidden;
}

.banner-image {
    width: 100%;
    height: auto;
}

.profile-section {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 0px; /* Adjust as needed */
}

.icon-group {
    display: flex;
    justify-content: space-between; /* Distribute icons evenly */
    flex: 1; /* Allow the icon groups to take up equal space */
    align-items: flex-end; /* Align icons at the bottom */
}

.icon-group.left {
    margin-right: 20px; /* Adjust the spacing between icons and profile picture */
    margin-top:-25px;
}

.icon-group.right {
    margin-left: 20px; /* Adjust the spacing between icons and profile picture */
    margin-top:-25px;
}

.icon img {
    width: 65%; /* Adjust the size of the icons */
    height: auto;
    cursor: pointer;
}

.icon {
    position: relative;
    display: inline-block;
}

.play-pause-icon {
    position: absolute;
    bottom: 0px; /* Position at the bottom */
    left: -5px; /* Position at the left */
    width: 20px;
    height: 20px;
    background-size: cover;
}

.play-pause-icon.play {
    background-image: url('images/play.svg'); /* Path to your play icon */
}

.play-pause-icon.pause {
    background-image: url('images/pause.svg'); /* Path to your pause icon */
}

.icon::after {
    content: attr(data-tooltip);
    position: absolute;
    bottom: 100%; /* Position above the icon */
    left: 50%;
    transform: translateX(-50%);
    background-color: #333;
    color: #fff;
    padding: 5px;
    border-radius: 5px;
    white-space: nowrap;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.2s;
    pointer-events: none;
}

.icon:hover::after {
    opacity: 1;
    visibility: visible;
}

.profile-photo {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
    margin-top: -110px; /* Adjust this value to position the profile photo */
    border: 5px solid #2e7d32; /* Optional: Add a border to the profile photo */
}


h1 {
    margin: 10px 0;
    color: #2e7d32;
    /* color: #284e2a; */
}

.research_vision {
    margin-bottom: 20px;
}

.research_vision h2 {
    /*color: #6d4c41;*/
    color: #6f4c3e;
}

/* footer {
    text-align: center;
    margin-top: 20px;
    display: flex;
    justify-content: center;
} */

.social-links {
    display: flex;
    justify-content: center;
    gap: 20px; /* Adjust the gap as needed */
    margin-top: 10px; /* Adjust the margin as needed */
}

.social-link {
    display: flex;
    align-items: center;
    margin: 0 10px;
}

.social-link a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: inherit;
}

.social-link svg {
    margin-right: 8px;
}

@media (max-width: 600px) {
    .container {
        padding: 10px;
    }

    .profile-photo {
        width: 100px;
        height: 100px;
        margin-top: -60px; /* Adjust this value to position the profile photo */
    }

    footer img {
        width: 25px;
        height: 25px;
    }

    .play-pause-icon {
        width: 10px;
        height: 10px;
    }

    .icon-group.left {
        margin-right: 10px; /* Adjust the spacing between icons and profile picture */
        margin-top:-5px;
    }
    
    .icon-group.right {
        margin-left: 10px; /* Adjust the spacing between icons and profile picture */
        margin-top:-5px;
    }
}


.section-header {
    position: relative;
    text-align: center;
    margin: 20px 0; /* Add margin to the section header for spacing */
}

.section-header img {
    width: 100%;
    height: auto;
    display: block;
    margin: 20px 0; /* Add margin to the image for spacing */
}

/* Publications list styling */
.publications-list {
    list-style-type: none; /* Remove default list styling */
    padding: 0; /* Remove default padding */
    margin: 0; /* Remove default margin */
}

.publications-list li {
    margin-bottom: 15px; /* Add space between list items */
}

.publications-list strong {
    margin-bottom: 5px; /* Add space below author names */
}

.publications-list em {
    font-style: italic; /* Italicize the conference name */
}

.publications-list a {
    color: #2e7d32; /* Change link color */
    text-decoration: none; /* Remove underline from links */
}

.publications-list a:hover {
    text-decoration: underline; /* Add underline on hover */
}

/* Styling for publication page */
.publications-list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.publication {
    display: flex;
    align-items: center; /* Center items vertically */
    background-color: #fcfcf2;
    border: 1px solid #ddd;
    padding: 10px;
    width: 100%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.publication-image {
    display: flex;
    align-items: center; /* Center image vertically */
    justify-content: center; /* Center image horizontally */
    margin-right: 20px;
}

.publication-image img {
    max-width: 150px; /* Larger image */
    max-height: 150px; /* Larger image */
}

.publication-reference {
    flex: 1;
}

.publication-links {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.publication-links a {
    display: inline-block;
    padding: 5px 10px;
    background-color: #007bff;
    color: #fcfcf2;
    text-decoration: none;
    border-radius: 5px;
    text-align: center;
}

.publication-links a:hover {
    background-color: #0056b3;
}

.abstract, .bibtex, .links {
    margin-top: 20px;
}

.abstract h2, .bibtex h2 {
    color: #555;
}

.bibtex pre {
    background-color: #f4f4f4;
    padding: 10px;
    border: 1px solid #ddd;
    overflow-x: auto;
    word-wrap: break-word; /* Ensure long words break to fit within the container */
    white-space: pre-wrap; /* Preserve whitespace and wrap lines as needed */
}

.links a {
    display: inline-block;
    margin-right: 10px;
    padding: 10px 15px;
    background-color: #007bff;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
}

.links a:hover {
    background-color: #0056b3;
}

/* Navbar styling */
.navbar {
    text-align: center;
    margin-top: 10px;
}

.navbar-list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    gap: 20px;
}

.navbar-item {
    display: inline;
}

.navbar-link {
    display: inline-block;
    padding: 10px 15px;
    background-color: #fcfcf2; /* Light earthy tone */
    color: #6f4c3e; /* Brown text */
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    font-size: 20px; /* Larger text */
}

.navbar-link:hover {
    background-color: #d4cbb3; /* Slightly darker earthy tone for hover */
}