<header>
    <!-- Banner Image -->
    <div class="banner">
        <img src="/images/bioacoustics_cropped_2.webp" alt="Banner Image" class="banner-image" loading="lazy">
    </div>
    
    <!-- Profile Section -->
    <div class="profile-section">
        <div class="icon-group left">
            <a href="#" class="icon" onclick="togglePlayPause('sound1', this)">
                <span class="play-pause-icon play"></span>
                <img src="/images/vocalizing_bird_1.webp" alt="Icon 1" loading="lazy">
            </a>
            <a href="#" class="icon" onclick="togglePlayPause('sound2', this)">
                <span class="play-pause-icon play"></span>
                <img src="/images/vocalizing_frog_1.webp" alt="Icon 2" loading="lazy">
            </a>
            <a href="#" class="icon" onclick="togglePlayPause('sound3', this)">
                <span class="play-pause-icon play"></span>
                <img src="/images/vocalizing_whale.webp" alt="Icon 3" loading="lazy">
            </a>
        </div>
        <img src="/images/profile_photo.webp" alt="Profile Picture" class="profile-photo">
        <div class="icon-group right">
            <a href="#" class="icon" onclick="togglePlayPause('sound4', this)">
                <span class="play-pause-icon play"></span>
                <img src="/images/vocalizing_bird_2.webp" alt="Icon 4" loading="lazy">
            </a>
            <a href="#" class="icon" onclick="togglePlayPause('sound5', this)">
                <span class="play-pause-icon play"></span>
                <img src="/images/vocalizing_wolf.webp" alt="Icon 5" loading="lazy">
            </a>
            <a href="#" class="icon" onclick="togglePlayPause('sound6', this)">
                <span class="play-pause-icon play"></span>
                <img src="/images/vocalizing_frog_2.webp" alt="Icon 6" loading="lazy">
            </a>
        </div>
    </div>

    <!-- Audio elements -->
    <audio id="sound1" src="/audio/bird_1_short.webm" preload="none"></audio>
    <audio id="sound2" src="/audio/frog_1_short.webm" preload="none"></audio>
    <audio id="sound3" src="/audio/whale_short.webm" preload="none"></audio>
    <audio id="sound4" src="/audio/bird_2_short.webm" preload="none"></audio>
    <audio id="sound5" src="/audio/wolf_short.webm" preload="none"></audio>
    <audio id="sound6" src="/audio/frog_2_short.webm" preload="none"></audio>

    <!-- Name and socials -->
    <h1>{{ name }}</h1>
    <nav class="navbar">
        <ul class="navbar-list">
            <li class="navbar-item">
                <a href="/" class="navbar-link">Home</a>
            </li>
            <li class="navbar-item">
                <a href="/publications.html" class="navbar-link">Publications</a>
            </li>
            <li class="navbar-item">
                <a href="/blog.html" class="navbar-link">Blog</a>
            </li>
        </ul>
    </nav>
</header>