<!DOCTYPE html>
<html lang="en">
<head>
    {{ head | safe }}
</head>
<body>
    <div class="container">
        {{ header | safe }}
        <main>
            {{ content | safe}}
            <div class="publications-list">
                {% for publication in publications %}
                <div class="publication">
                    <div class="publication-image">
                        <img src="{{ publication.image }}" alt="{{ publication.title }}">
                    </div>
                    <div class="publication-content">
                        <div class="publication-reference">
                            {{ publication.authors }}, <a href="{{ publication.link }}" target="_blank">{{ publication.title }}</a>, <em>{{ publication.proceedings }}</em>, {{ publication.location }}, {{ publication.year }}.
                        </div>
                        <div class="publication-links">
                            <a href="{{ publication.link }}" target="_blank">Link</a>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </main>
        {{ footer | safe }}
    </div>
    <script src="script.js"></script>
</body>
</html>