<!DOCTYPE html>
<html lang="en">
<head>
    {{ head | safe }}
</head>
<body>
    <div class="container">
        <header>
            {{ header }}
        </header>
        <main>
            <h1>Publications</h1>
            {% for year, publications in publications_by_year.items() %}
            <h2>{{ year }}</h2>
            <div class="publications-list">
                {% for publication in publications %}
                <div class="publication">
                    <div class="publication-content">
                        <div class="publication-reference">
                            {{ publication.authors }}, <a href="{{ publication.link }}" target="_blank">{{ publication.title }}</a>, <em>{{ publication.proceedings }}</em>{% if publication.location %}, {{ publication.location }}{% endif %}, {{ publication.year }}.
                        </div>
                        <div class="publication-links">
                            <a href="{{ publication.link }}" target="_blank">Link</a>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
            {% endfor %}
        </main>
        <footer>
            {{ footer }}
        </footer>
    </div>
</body>
</html>